{{!-- <a class="skip-navigation" tabindex="1" href="#main-content">
	{{t "skip_navigation"}}
</a> --}}

<header class="w-full bg-fc-dark">
	<nav class="navbar w-full md:max-w-7xl mx-auto py-4">
		<div class="navbar-start w-max">
			{{#link "help_center"}}
				<img src="{{settings.logo}}" alt="Logo" class="w-[150px]" />
			{{/link}}
		</div>
		<div class="navbar-end flex-1">
			<div class="flex items-stretch">
				<div
					tabindex="0"
					role="button"
					id="mobile-dropdown-button"
					class="btn btn-ghost md:hidden ms-auto"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="#FFF"
					><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h8m-8 6h16"
						/></svg>
				</div>
			</div>

			<label
				class="input input-bordered hidden md:flex items-center gap-2 bg-white focus:border-fc-green focus:outline-fc-green focus-within:outline-fc-green focus-within:border-fc-green"
			>
				{{search
					instant=true
					submit=false
					class="min-w-[250px] sm:w-[350px] border-none focus:outline-none"
				}}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 16 16"
					fill="currentColor"
					class="w-4 h-4 opacity-70"
				>
					<path
						fill-rule="evenodd"
						d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
						clip-rule="evenodd"
					/>
				</svg>
			</label>

			{{#if alternative_locales}}
			<div class="hidden md:inline-block dropdown dropdown-end ms-4">
				<div
					tabindex="0"
					role="button"
					class="flex items-center justify-center p-2"
				>
					<span class="flex items-center text-white">
						<i
							class="ph ph-globe text-white text-xl me-2"
						></i>
						{{current_locale.name}}
					</span>
				</div>
				<ul
					tabindex="0"
					class="dropdown-content menu bg-fc-dark border border-fc-green rounded-md z-[1] w-[200px] p-2 shadow mt-2"
				>
					{{#each alternative_locales}}
						<li class="{{#if (compare @index ">" 0)}}mt-2{{/if}}">
							<a
								href="{{url}}"
								dir="{{direction}}"
								class="text-white text-sm hover:bg-fc-green px-2 py-3 rounded-md font-semibold"
							>
								{{name}}
							</a>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
		{{/if}}
	</nav>
	<div
		id="mobile-dropdown"
		class="w-full p-4 hidden flex-col gap-2 bg-fc-dark"
	>
		<label
			class="input input-bordered flex items-center gap-2 bg-white focus:border-fc-green focus:outline-fc-green focus-within:outline-fc-green focus-within:border-fc-green"
		>
			{{search
				instant=true
				submit=false
				class="min-w-[250px] flex-1 sm:w-[350px] border-none focus:outline-none"
			}}
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 16 16"
				fill="currentColor"
				class="w-4 h-4 opacity-70"
			>
				<path
					fill-rule="evenodd"
					d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
					clip-rule="evenodd"
				/>
			</svg>
		</label>
		{{#if alternative_locales}}
			<div class="join join-vertical w-full">
				<div class="collapse collapse-arrow join-item rounded-none">
					<input type="checkbox" name="my-accordion-4" />
					<div
						class="collapse-title flex items-center text-sm text-white font-medium px-0"
					>
						<span class="flex items-center justify-center me-2">
							<i class="ph ph-globe" style="font-size: 20px;"></i>
						</span>
						Change Language
					</div>
					<div class="collapse-content">
						<div class="flex flex-col w-full gap-1.5">
							{{#each alternative_locales}}
								<a
									href="{{url}}"
									dir="{{direction}}"
									class="text-white text-sm hover:bg-fc-green px-2 py-3 rounded-md font-semibold"
								>
									{{name}}
								</a>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}

		<a
			href="{{page_path 'new_request'}}"
			class="text-sm text-white font-semibold hover:bg-fc-green p-2 rounded-md"
		>
			Submit a ticket
		</a>
	</div>
</header>