{{!-- <a class="skip-navigation" tabindex="1" href="#main-content">
	{{t "skip_navigation"}}
</a> --}}

<header class="w-full bg-gray-200">
	<nav class="navbar max-w-7xl mx-auto py-4">
		<div class="flex-1">
			{{#link "help_center"}}
				<img src="{{settings.logo}}" alt="Logo" class="w-[150px]" />
			{{/link}}
		</div>
		<div class="flex-none">
			<label
				class="input input-bordered flex items-center gap-2 bg-white"
			>
				{{search
					instant=true
					submit=false
					class="min-w-[250px] sm:w-[350px]"
				}}
				{{! <input type="text" class="grow" placeholder="Search" /> }}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 16 16"
					fill="currentColor"
					class="w-4 h-4 opacity-70"
				>
					<path
						fill-rule="evenodd"
						d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
						clip-rule="evenodd"
					/>
				</svg>
			</label>

			{{#unless signed_in}}
				{{#link "sign_in" class=""}}
					{{t "sign_in"}}
				{{/link}}
			{{/unless}}

			{{#if signed_in}}
			<div class="dropdown dropdown-bottom dropdown-end ml-4">
				<div
					tabindex="0"
					role="button"
					class="btn btn-link items-center no-underline hover:no-underline text-black m-1"
				>
					<div class="avatar">
						<div class="w-8 rounded-full">
							{{user_avatar}}
							{{!-- <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" /> --}}
						</div>
					</div>
					{{user_name}}
					<i class="ph ph-caret-down text-lg text-black"></i>
				</div>
				<ul
					tabindex="0"
					class="dropdown-content z-[1] menu p-2 shadow bg-white rounded-lg w-52"
				>
					<li class="hover:bg-gray-200 rounded-lg">
						<a href="{{page_path 'new_request'}}">
							Submit a ticket
						</a>
					</li>
					{{#if signed_in}}
					<li class="hover:bg-gray-200 rounded-lg">
						<a href="{{page_path 'sign_out'}}">
							Sign out
						</a>
					</li>
					{{/if}}
				</ul>
			</div>
		</div>
		{{/if}}
	</nav>
</header>