{{!-- <a class="skip-navigation" tabindex="1" href="#main-content">
	{{t "skip_navigation"}}
</a> --}}

<header class="w-full bg-fc-dark">
	<nav class="navbar w-full md:max-w-7xl mx-auto py-4">
		<div class="navbar-start w-max">
			{{#link "help_center"}}
				<img src="{{settings.logo}}" alt="Logo" class="w-[150px]" />
			{{/link}}
		</div>
		<div class="navbar-end flex-1">
			<div class="flex items-stretch">
				<div
					tabindex="0"
					role="button"
					id="mobile-dropdown-button"
					class="btn btn-ghost md:hidden ms-auto"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="#FFF"
					><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h8m-8 6h16"
						/></svg>
				</div>
			</div>

			{{#if alternative_locales}}
				<div
					class="hidden md:inline-block dropdown dropdown-bottom dropdown-end"
				>
					<div
						tabindex="0"
						role="button"
						class="btn flex items-center justify-center p-4 bg-fc-green hover:bg-fc-green/85 border-0 text-white"
					>
						<span class="flex items-center justify-center">
							<i class="ph ph-globe" style="font-size: 18px;"></i>
						</span>
					</div>
					<ul
						tabindex="0"
						class="dropdown-content z-[1] menu p-2 gap-2 shadow bg-white rounded-box w-max mt-2"
					>
						{{#each alternative_locales}}
							<li>
								<a
									href="{{url}}"
									dir="{{direction}}"
									class="text-fc-dark hover:bg-fc-green"
								>
									{{name}}
								</a>
							</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}

			{{#unless signed_in}}
				{{#link "sign_in" class=""}}
					{{t "sign_in"}}
				{{/link}}
			{{/unless}}

			{{#if signed_in}}
				<div
					class="hidden md:inline-block dropdown dropdown-bottom dropdown-end ms-2"
				>
					<div
						tabindex="0"
						role="button"
						class="btn btn-link items-center no-underline hover:no-underline text-white m-1"
					>
						<div class="avatar">
							<div class="w-8 rounded-full">
								{{user_avatar}}
							</div>
						</div>
						{{user_name}}
						<i class="ph ph-caret-down text-lg text-white"></i>
					</div>
					<ul
						tabindex="0"
						class="dropdown-content z-[1] menu p-2 shadow bg-white rounded-lg w-52"
					>
						<li class="hover:bg-fc-green rounded-lg">
							<a href="{{page_path 'new_request'}}">
								Submit a ticket
							</a>
						</li>
						{{#if signed_in}}
							<li class="hover:bg-fc-green rounded-lg">
								<a href="{{page_path 'sign_out'}}">
									Sign out
								</a>
							</li>
						{{/if}}
					</ul>
				</div>
			{{/if}}
		</div>
	</nav>
	<div id="mobile-dropdown" class="w-full p-4 hidden flex-col gap-2 bg-white">
		{{#if alternative_locales}}
			<div class="join join-vertical w-full">
				<div class="collapse collapse-arrow join-item rounded-none">
					<input type="checkbox" name="my-accordion-4" />
					<div
						class="collapse-title flex items-center text-md font-medium px-0"
					>
						<span class="flex items-center justify-center me-2">
							<i class="ph ph-globe" style="font-size: 20px;"></i>
						</span>
						Change Language
					</div>
					<div class="collapse-content">
						<div class="flex flex-col w-full gap-1.5">
							{{#each alternative_locales}}
								<a
									href="{{url}}"
									dir="{{direction}}"
									class="text-fc-dark text-sm hover:bg-fc-green px-2 py-3 rounded-md font-semibold"
								>
									{{name}}
								</a>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}

		{{#unless signed_in}}
			{{#link "sign_in" class=""}}
				{{t "sign_in"}}
			{{/link}}
		{{/unless}}

		{{#if signed_in}}
			<div class="join join-vertical w-full">
				<div class="collapse collapse-arrow join-item rounded-none">
					<input type="checkbox" name="my-accordion-4" />
					<div
						class="collapse-title flex items-center text-md font-medium px-0"
					>
						<div class="avatar me-2">
							<div class="w-8 rounded-full">
								{{user_avatar}}
							</div>
						</div>
						{{user_name}}
					</div>
					<div class="collapse-content">
						<div class="flex flex-col w-full gap-2">
							<a
								href="{{page_path 'new_request'}}"
								class="text-sm font-semibold hover:bg-fc-green p-2 rounded-md"
							>
								Submit a ticket
							</a>
							{{#if signed_in}}
								<a
									href="{{page_path 'sign_out'}}"
									class="text-sm font-semibold hover:bg-fc-green p-2 rounded-md"
								>
									Sign out
								</a>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</header>