<section id="infobar-container" class="w-full flex flex-col">
	<div class="infobar-component bg-fc-green border-b border-fc-dark">
		<div
			role="alert"
			class="alert alert-success bg-fc-green flex items-center max-w-7xl mx-auto border-x-0 border-y-0 px-4 py-2 rounded-none"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="h-6 w-6 shrink-0 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				></path>
			</svg>
			<div id="infobar-content">
				<p class="text-sm text-start font-semibold">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
					commodi nihil delectus sunt, ad labore nam impedit numquam
					hic aliquam?
				</p>
			</div>
			<span class="infobar-dismiss ms-auto cursor-pointer">
				<i class="ph ph-x"></i>
			</span>
		</div>
	</div>

	<div class="infobar-component bg-fc-green border-b border-fc-dark">
		<div
			role="alert"
			class="alert alert-error bg-fc-green flex items-center max-w-7xl mx-auto border-x-0 border-y-0 px-4 py-2 rounded-none"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6 shrink-0 stroke-current"
				fill="none"
				viewBox="0 0 24 24"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
			</svg>
			<div id="infobar-content">
				<p class="text-sm text-start font-semibold">
					Error! Task failed successfully
				</p>
			</div>
			<span class="infobar-dismiss ms-auto cursor-pointer">
				<i class="ph ph-x"></i>
			</span>
		</div>
	</div>
</section>

<section id="banner" class="w-full min-h-[250px] h-full">
	<img
		src="{{settings.banner}}"
		alt="banner"
		class="w-full min-h-[250px] object-cover object-center"
	/>
</section>

<section id="main-content" class="w-full">
	<section id="channels" class="flex-1 bg-fc-dark py-8">
		<article
			class="flex-1 md:max-w-7xl mx-auto flex flex-col items-center px-4 xl:px-0"
		>
			<h3 class="text-2xl text-white md:text-3xl font-bold">
				Contact Our Customer Support
			</h3>
			<p class="mt-2 text-white text-center">
				You can reach the Customer Support team via these channels below
			</p>
			<div class="flex items-center flex-col md:flex-row gap-2 mt-4">
				<button
					class="btn w-full md:w-[250px] bg-[#4267B2] hover:bg-[#4267B2]/85 text-white"
				>
					<i class="ph ph-messenger-logo text-white text-2xl"></i>
					Connect with Facebook
				</button>
				<button
					class="btn w-full md:w-[250px] bg-[#25D366] hover:bg-[#25D366]/85 text-white"
				>
					<i class="ph ph-whatsapp-logo text-white text-2xl"></i>
					Connect with Whatsapp
				</button>
				<button
					class="btn w-full md:w-[250px] bg-fc-green hover:bg-fc-green/85 text-white"
				>
					<i class="ph ph-envelope text-white text-2xl"></i>
					Create a Ticket
				</button>
			</div>
		</article>
	</section>

	<section id="all-articles-section" class="flex-1 bg-fc-dark py-8">
		<article class="flex-1 md:max-w-7xl mx-auto flex flex-col px-4 xl:px-0">
			<h3 class="text-2xl text-white md:text-3xl font-bold">
				Our Helpful Articles
			</h3>
			<p class="mt-2 text-white text-sm">
				Please find the most frequently asked questions from our
				customer in this section
			</p>

			<div class="w-full flex flex-col gap-4 mt-8">
				{{#each categories}}
					{{#is name "EA"}}
						{{#each sections}}
							<div class="w-full flex flex-col gap-2">
								<h4
									class="font-bold text-white text-lg"
								>{{name}}</h4>
								{{#each articles}}
									{{#if (compare @index "<" 5)}}
										<a
											id="article-{{id}}"
											href="{{url}}"
											class="btn btn-outline border-fc-green hover:border-fc-green hover:bg-fc-green w-full flex font-bold text-white text-start rounded-md overflow-x-hidden"
										>
											<span class="w-full line-clamp-1">
												{{title}}
											</span>
										</a>
									{{/if}}
								{{/each}}
								{{#if (compare article_count ">" 5)}}
									<a
										href="{{url}}"
										class="btn btn-link no-underline hover:no-underline flex items-center w-max text-fc-green hover:text-fc-dark-green md:ms-auto"
									>
										See more
										{{name}}
										articles
										<i class="ph ph-arrow-up-right"></i>
									</a>
								{{/if}}
							</div>
						{{/each}}
					{{/is}}
				{{/each}}
			</div>
		</article>
	</section>
</section>