<section id="infobar-container" class="w-full flex flex-col">
	<div class="infobar-component bg-fc-green border-b border-fc-dark">
		<div
			role="alert"
			class="alert alert-success bg-fc-green flex items-center max-w-7xl mx-auto border-x-0 border-y-0 px-4 py-2 rounded-none"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="h-6 w-6 shrink-0 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				></path>
			</svg>
			<div id="infobar-content">
				<p class="text-sm text-start font-semibold">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
					commodi nihil delectus sunt, ad labore nam impedit numquam
					hic aliquam?
				</p>
			</div>
			<span class="infobar-dismiss ms-auto cursor-pointer">
				<i class="ph ph-x"></i>
			</span>
		</div>
	</div>

	<div class="infobar-component bg-fc-green border-b border-fc-dark">
		<div
			role="alert"
			class="alert alert-error bg-fc-green flex items-center max-w-7xl mx-auto border-x-0 border-y-0 px-4 py-2 rounded-none"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6 shrink-0 stroke-current"
				fill="none"
				viewBox="0 0 24 24"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
			</svg>
			<div id="infobar-content">
				<p class="text-sm text-start font-semibold">
					Error! Task failed successfully
				</p>
			</div>
			<span class="infobar-dismiss ms-auto cursor-pointer">
				<i class="ph ph-x"></i>
			</span>
		</div>
	</div>
</section>

<section id="banner" class="w-full min-h-[250px] h-full">
	<img
		src="{{settings.banner}}"
		alt="banner"
		class="w-full min-h-[250px] object-cover object-center"
	/>
</section>

<section id="main-content" class="w-full">
	<section id="channels" class="flex-1 bg-white py-8">
		<article
			class="flex-1 md:max-w-7xl mx-auto flex flex-col items-center px-4 xl:px-0"
		>
			<h3 class="text-2xl text-fc-dark md:text-3xl font-bold">
				Contact Our Customer Support
			</h3>
			<p class="mt-2 text-fc-dark text-center">
				You can reach the Customer Support team via these channels below
			</p>
			<div
				class="max-[640px]:w-full flex items-center flex-col sm:flex-row gap-2 mt-4"
			>
				<a
					href="{{page_path 'new_request'}}"
					class="btn w-full sm:w-[250px] bg-fc-green hover:bg-fc-green/85 border-none text-fc-dark"
				>
					<i class="ph ph-envelope text-fc-dark text-2xl"></i>
					Create a Ticket
				</a>
				<a
					href="https://codashop.com/en-us/"
					class="btn w-full sm:w-[250px] bg-fc-green hover:bg-fc-green/85 border-none text-fc-dark"
				>
					<i class="ph ph-globe text-fc-dark text-2xl"></i>
					Visit Webstore
				</a>
			</div>
		</article>
	</section>

	<section id="all-articles-section" class="flex-1 bg-white py-8">
		<article class="flex-1 md:max-w-7xl mx-auto flex flex-col px-4 xl:px-0">
			<h3 class="text-2xl text-fc-dark md:text-3xl font-bold">
				Our Helpful Articles
			</h3>
			<p class="mt-2 text-fc-dark text-sm">
				Please find the most frequently asked questions from our
				customer in this section
			</p>

			<div class="w-full flex flex-col gap-4 mt-8">
				{{#each categories}}
					{{#is name "EA"}}
						{{#each sections}}
							<div class="w-full flex flex-col gap-2">
								<h4
									class="font-bold text-fc-dark text-lg"
								>{{name}}</h4>
								{{#each articles}}
									{{#if (compare @index "<" 5)}}
										<a
											id="article-{{id}}"
											href="{{url}}"
											class="btn btn-outline border-2 border-fc-green hover:border-fc-green hover:bg-fc-green w-full flex font-bold text-fc-dark text-start rounded-md overflow-x-hidden"
										>
											<span class="w-full line-clamp-1">
												{{title}}
											</span>
										</a>
									{{/if}}
								{{/each}}
								{{#if (compare article_count ">" 5)}}
									<a
										href="{{url}}"
										class="btn btn-link no-underline hover:no-underline flex items-center w-max text-fc-dark-green/85 hover:text-fc-dark-green md:ms-auto"
									>
										See more
										{{name}}
										articles
										<i class="ph ph-arrow-up-right"></i>
									</a>
								{{/if}}
							</div>
						{{/each}}
					{{/is}}
				{{/each}}
			</div>
		</article>
	</section>

	<section id="search-articles-section" class="flex-1 bg-white py-8">
		<article class="flex-1 md:max-w-7xl mx-auto flex flex-col px-4 xl:px-0">
			<h3 class="text-2xl text-fc-dark md:text-3xl text-center font-bold">
				Didn't see the articles you're looking for?
			</h3>
			<p class="mt-4 text-fc-dark text-sm text-center">
				Please find the articles that you're looking for here
			</p>

			<label
				class="input input-bordered h-[32px] w-full sm:w-[350px] lg:w-[500px] flex items-center mx-auto mt-6 gap-2 rounded-full border-fc-dark/50 bg-white focus:border-fc-green focus:outline-fc-green focus-within:outline-fc-green focus-within:border-fc-green"
			>
				{{search
					instant=true
					submit=false
					class="min-w-[250px] w-full sm:w-[350px] lg:w-[500px] border-none focus:outline-none text-sm"
				}}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 16 16"
					fill="currentColor"
					class="w-4 h-4 opacity-70"
				>
					<path
						fill-rule="evenodd"
						d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
						clip-rule="evenodd"
					/>
				</svg>
			</label>
		</article>
	</section>
</section>