<section id="banner" class="w-full h-[300px]">
	<img
		src="{{settings.banner}}"
		alt="banner"
		class="w-full h-full object-cover"
	/>
</section>

<section id="main-content" class="max-w-7xl mx-auto flex gap-4 py-8">
	{{!-- <aside
		id="section-sidebar"
		class="join join-vertical w-full sm:w-[25%] border border-black/50"
	>
		{{#each categories}}
			{{#each sections}}
				<div
					class="collapse collapse-arrow join-item border border-white"
				>
					<input
						type="radio"
						name="accordion-item"
						checked="checked"
					/>
					<div
						class="collapse-title text-xl font-medium text-white bg-black"
					>
						{{name}}
					</div>
					<div class="collapse-content">
						<div class="flex flex-col items-start gap-2 pt-5">
							{{#each articles}}
								<a
									class="text-black hover:underline"
									href="{{url}}"
								>
									{{title}}
								</a>
							{{/each}}
						</div>
					</div>
				</div>
			{{/each}}
		{{/each}}
	</aside> --}}

	{{! Content goes here }}
	<article id="content" class="flex-1 flex flex-col p-4 gap-4">
		<div class="w-full">
			<a
				href="{{page_path 'help_center'}}"
				class="flex items-center text-sm gap-2"
			>
				<i class="ph ph-caret-left text-md mt-0.5"></i>
				Back to Homepage
			</a>
		</div>

		<h1 class="text-2xl font-bold">
			Submit a request
		</h1>

		<div class="w-full">
			{{request_form wysiwyg=true}}
		</div>
	</article>
</section>